apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service-deployment
  namespace: mega
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      name: order-service
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: biprob/microservices-project-order-service:latest
          ports:
            - containerPort: 4003
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: mega
spec:
  type: NodePort
  selector:
    app: order-service
  ports:
    - port: 4003
      targetPort: 4003
      protocol: TCP
      nodePort: 31403
