apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deployment
  namespace: mega
  labels:
    app: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      name: user-service
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: biprob/microservices-project-user-service:v5
          ports:
            - containerPort: 4002
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: mega
spec:
  type: NodePort
  selector:
    app: user-service
  ports:
    - port: 4002
      targetPort: 4002
      protocol: TCP
      nodePort: 31402
